#ignore the following files and directories

#ignore all files except .ps1 files in the root directory
venv/
#ignore all .log files in the root directory
*.log
#ignore all .log files in the raspberryPi_auto_update directory
raspberryPi_auto_update/*.log
#ignore all .png files in the raspberryPi_auto_update directory
raspberryPi_auto_update/*.png
#ignore specific files in the raspberryPi_auto_update directory files
raspberryPi_auto_update/log.txt
raspberryPi_auto_update/runwDebugs.txt
raspberryPi_auto_update/run.txt
raspberryPi_auto_update/test.ps1
raspberryPi_auto_update/test_log.txt
raspberryPi_auto_update/test.txt